form{
  display: flex;
  flex-direction: column;
  max-width: 330px;
  margin: 20px;
}
input:focus{
  border: 2px solid black;
}
label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
input:invalid{
color: brown;
}
input:valid{
  color: green;
  }
fieldset{
  margin-bottom: 10px;
}
div{
  display: flex;
  justify-content: center;
}
button{
  background-color: rgb(3, 161, 3);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
}
button:hover{
  background-color: green;
}
.reset{
  padding: 5px;
}

.required span::after{
color: red;
content: "*";
}