body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-header{
    height: 100px;
    background-color: orange;
    margin-bottom: 30px;
}
.container{
width: 1200px;
border: 2px solid red;
margin: 0 auto;
font-size: 1.3em;
line-height: 1.3em;
/* column-count: 3; */
text-align: justify;
column-width: 250px;
padding: 20px;
margin-bottom: 30px;
column-rule: 2px solid palevioletred;
column-gap: 50px;
}
.page-footer{
height: 50px;
background-color: orangered;
margin-top: auto;
}
h1{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bolder;
    column-span: all;
    margin-bottom: 20px;
    text-align: center;
}